<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEME MACKA NA KAZDY DEN</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<form  method="post" action="/result">
    <label for="feel"><b>How are you feeling today?</b></label><br> <!--vygeneruje mood macky-->
    <input type="text" id="feel" name="feel" value=""><br><br>
    <label for="color"><b>Pick a color:</b></label><br>  <!-- vygeneruje farbu srsti -->
    <input type="text" id="color" name="color" value=""><br><br>
    <label for="hat"><b>Write a funny type of hat:</b></label><br> <!--vygeneruje ciapocku macky-->
    <input type="text" id="hat" name="hat" value=""><br><br>
    <label for="food"><b>What food do you hate?</b></label><br> <!--vygeneruje jedlo macky-->
    <input type="text" id="food" name="food" value=""><br><br>
    <label for="background"><b>Where would you want to be right now?</b></label><br> <!--vygeneruje background v meme-->
    <input type="text" id="background" name="background" value=""><br><br>
    <label for="kitten_1"><b>White or red Vinea?</b></label><br> <!--vygeneruje farbu maciatka-->
    <input type="text" id="kitten_1" name="kitten_1" value=""><br><br>
    <label for="coffee"><b>I'm ordering coffee...what are you getting?</b></label><br> <!--vygeneruje kavicku-->
    <input type="text" id="coffee" name="coffee" value=""><br><br>
    <label for="gift"><b>what is a better gift - flowers or headphones?</b></label><br> <!--vygeneruje vecicku maciatka-->
    <input type="text" id="gift" name="gift" value=""><br><br>
    <input type="submit" value="Submit" class="form-submit-button">
</form>
</body>
</html>