<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEME MACKA NA KAZDY DEN</title>
</head>
<body>
<form  method="post" action="/result">
    <label for="feel">How are you feeling today?</label><br> #vygeneruje mood macky
    <input type="text" id="feel" name="feel" value=""><br>
    <label for="color">Pick a color:</label><br> #vygeneruje farbu srsti
    <input type="text" id="color" name="color" value=""><br><br>
    <label for="top">What top are you wearing today?</label><br> #vygeneruje top macky
    <input type="text" id="top" name="top" value=""><br><br>
    <label for="bottom">What bottoms are you wearing today?</label><br> #vygeneruje spodok macky
    <input type="text" id="bottom" name="bottom" value=""><br><br>
    <label for="food">What food do you hate?</label><br> #vygeneruje jedlo macky
    <input type="text" id="food" name="food" value=""><br><br>
    <label for="quote">Write any quote:</label><br> #vygeneruje quote v meme
    <input type="text" id="quote" name="quote" value=""><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>