body {
  background-color: salmon;
}
h1 {
  color: blue;
}
p {
  color: red;
}
.form-submit-button {
background: red;
color: white;
border-style: outset;
border-color: black;
height: 250px;
width: 300px;
font: arial,sans-serif;
text-shadow: none;
font-size: 75px;
}

form {
    border: solid 2px black;
    border-radius: 1em;
    padding: 2em;
}

